@media (prefers-color-scheme: dark) {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  font-family: Poppins, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  display: block;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 6px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #efeafc;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #7f73d0;
  /* color of the scroll thumb */
  border-radius: 10px;
  /* roundness of the scroll thumb */
  /*   border: 3px solid orange; */
  /* creates padding around scroll thumb */
}



@media (prefers-color-scheme: dark) {}



/*land*/

.landingContent {
  /*   max-width: 6.4rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  margin: 0 auto;

}

.sobreContent {
  /*   max-width: 6.4rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  margin: 0 auto;

}

.terapiaContent {

  /*   max-width: 6.4rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  margin: 0 auto;
  align-items: center;

}

.landingImgContent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 120rem;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
}

.sobreImgContent {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 120rem;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;

}

.titleLand {
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  color: #3c3c3c;

}

.titleLand>h3 {
  font-size: 3.5rem;
}

.descLand {
  grid-column: 1;
  grid-row: 2;
  color: #3c3c3c;
  margin-top: 3rem !important;
}

.btn-primary {
  background-color: #7f73d0;
  border-color: #7f73d0;
  border-radius: 50px;
  color: #fff;
  padding: 20px 20px;
  font-size: 16px;
  line-height: 16px;
  /*  border-radius: 20px; */
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  text-decoration: none !important;
  min-width: 144px;
  text-transform: none;
  white-space: normal;
  border: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.btn-inverse {
  background-color: #fff;
  border: #7f73d0 solid 1px;
  color: #7f73d0;
  padding: 12px 18px;
  transition: border-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: border-color .3s ease-in-out, color .3s ease-in-out;
  -webkit-transition: border-color .3s ease-in-out, color .3s ease-in-out;
}

.btn-primary:hover {
  background-color: #bab4e4;
  border-color: #bab4e4;
}

.btn-primary:focus {
  color: #fff;
  background-color: #bab4e4;
  border-color: #bab4e4;
  box-shadow: 0 0 0 0.25rem rgb(186 180 228 / 50%);
}

.text-primary {
  color: #7f73d0 !important;
}

.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #bab4e4;
  border-color: #bab4e4;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(127 115 208);
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  gap: 1.5em;
  list-style: none;
  color: #414548;
}


.nav-link {
  transition-duration: 200ms;
}

.nav-link.active {
  color: #7f73d0 !important;
}


a:hover {
  color: #7f73d0;
}

.h1 {
  font-size: 64px;
}

#header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  /*  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 5%); */
  background-color: #fff;
  transition: 300ms;
}

.headershadow {
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 5%);
  opacity: 0.96;
}

.atendimentoCards {
  text-align: left;
  /* display: grid; */
  padding: 45px 45px;
  border-radius: 65px;
  position: relative;
  overflow: hidden;
  background-color: #f9f6fe;
}

.sobreCards {
  text-align: left;
  /* display: grid; */
  padding: 45px 45px;
  border-radius: 65px;
  position: relative;
  overflow: hidden;
  background-color: #f9f6fe;
}

.atendimentoCards>p {
  font-size: 16px;
}

.sobreCards>p {
  font-size: 16px;
}

.atendimentoContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.9fr 0.9fr;
  text-align: center;
  margin: 0 auto;
  gap: 3em;
}

#terapia {
  background-color: #b7afe5;
}

#terapia .titleSection {
  color: white;
}

section.home {
  margin-top: 5rem;
  margin-bottom: 2rem;
  min-height: calc(100vh - 7rem);
  display: grid;
  place-content: center;
}

section.sobre {

  margin-bottom: 2rem;
  min-height: calc(100vh - 7rem);
  display: grid;
  place-content: center;
}

.aboutText {
  font-size: 16px;
}

section.terapia {
  margin-top: 5rem;
  margin-bottom: 2rem;
  min-height: calc(100vh - 7rem);
  display: grid;
  place-content: center;

}

.wave1Back {
  background: #b7afe5;
}

.headerSection {
  text-align: center;
  padding: 3.0rem 0;
}

.titleSection {
  color: #7f73d0;
  font-size: 2.2rem;
}

/**/

.btnsLand {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem !important;
  margin-top: 2rem;

}

.landImg {
  width: 400px;
}


.terapiaList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.9fr;
  font-size: 16px;
  text-align: left;
  margin: 0 auto;
  grid-gap: 3em;
  gap: 3em;
}

#Atendimento {
  background: #e9e3f9 !important;
  min-height: calc(100vh - 5rem);
}

/* Mobile */
@media (max-width: 700px) {
  .landingContent {
    display: unset;
    width: 100%;
    text-align: center;
  }

  .sobreContent {
    display: unset;
    width: 100%;
    text-align: center;
  }

  .terapiaContent {
    display: unset;
    width: 100%;
    text-align: center;
  }

  .btnsLand {
    gap: 0.5rem !important;
    display: grid !important;
    justify-content: space-evenly !important;
    margin-top: 2rem;

  }

  .nav.navbar-nav {
    /* border: solid 2px;
    border-color: #7f73d073; */
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    opacity: 0.98;
    background-color: #fff;
  }

  .titleLand>h3 {
    font-size: 1.8rem;
    padding: 0 1em;
  }

  .descLand {
    margin-top: 0.2rem !important;
  }

  section.home {
    margin-top: 7rem;
    min-height: calc(100vh - 7rem);
    display: inherit;
    margin-bottom: unset;
    place-content: center;
  }

  h4 {
    font-size: calc(1.100rem + .3vw);
  }

  .landImg {
    width: 340px;
  }

  .navbar-toggler:focus {
    box-shadow: unset;
  }

  .atendimentoContent {
    display: unset;
    text-align: center;
    row-gap: 3em;
  }

  .atendimentoCards {
    margin: 1rem;
  }

  .sobreCards {
    margin: 0.4rem;
  }


  .titleSection {
    color: #7f73d0;
    font-size: 1.9rem;
  }


  .terapiaList {
    display: unset;
    grid-template-columns: unset;
    grid-template-rows: unset;
    text-align: unset;
    margin: 0 auto;
    grid-gap: unset;
    gap: unset;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

  .terapiaContent {

    display: unset;
    width: 100%;
    text-align: center;
  }

  .sobreContent {

    display: unset;
    width: 100%;
    text-align: center;
  }

  .btnsLand {
    gap: 0.5rem !important;
    display: grid !important;
    justify-content: space-evenly !important;
    margin-top: 2rem;
  }

  .titleLand>h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: calc(1.100rem + .3vw);
  }

  section.home {
    margin-top: 7rem;
    min-height: calc(100vh - 7rem);
    display: inherit;
    margin-bottom: unset;
    place-content: center;
  }


  .landImg {
    width: 340px;
  }

  .navbar-toggler:focus {
    box-shadow: unset;
  }

  .atendimentoContent {
    display: unset;
    text-align: center;
    row-gap: 3em;
  }

  .atendimentoCards {
    margin: 1rem;
  }

  .sobreCards {
    margin: 0.4rem;
  }


  .titleSection {
    color: #7f73d0;
    font-size: 1.9rem;
  }
}