:root {
  --primary-color: #7f73d0;
  --secondary-color: #b7afe5;
  --back-color: #fff;
  --footer-color: #ede7fb;
  --atendimento-color: #e9e3f9;
  --atendimento-card-color: #f9f6fe;
  /*  --primary-color: #7f73d0;
  --secondary-color: #b7afe5;
  --back-color: #fff;
  --footer-color: #ede7fb;
  --atendimento-color: #e9e3f9;
  --atendimento-card-color: #f9f6fe; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  font-family: Poppins, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  display: block;
  scroll-behavior: smooth;
  background: var(--back-color);
}

a {
  color: inherit;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 6px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #efeafc;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  /* color of the scroll thumb */
  border-radius: 10px;
  /* roundness of the scroll thumb */
  /*   border: 3px solid orange; */
  /* creates padding around scroll thumb */
}

.pulse {
  scale: 1;
  animation: pulse infinite 2s ease-in-out;
}

.fade-in {
  animation: fade-in 2s ease-in-out;
}

@keyframes pulse {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.08;
  }

  100% {
    scale: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.instaPost {
  transition: 400ms;
  border-radius: 20px;
}

.instaPost:hover {
  scale: 1.02;
  transition: 400ms;
  box-shadow: 10px 10px 10px #a1a1a1;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

@media (prefers-color-scheme: dark) {
}

#footer {
  background: var(--footer-color);
  padding-top: 1.5rem;
  text-align: center;
}

.whats {
  border-radius: 15px !important;
  padding: 0.5em;
  background-color: #25d366;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0;
  overflow-anchor: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.bgCardRoxo {
  padding: 0.5rem 1.5em;
  border-radius: 20px;
  margin: 5px;
  background: var(--primary-color);
  min-height: 41rem;
  height: 100%;
}

.bgCardLight {
  padding: 1rem 2em;
  border-radius: 20px;
  margin: 0 5px;
  background: var(--primary-color);
  min-height: 41rem;
}

.terapiaList {
  display: grid;
}

/*land*/

.landingContent {
  /*   max-width: 6.4rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  margin: 0 auto;
}

.sobreContent {
  /*   max-width: 6.4rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  margin: 0 auto;
}

.terapiaContent {

  /*   max-width: 6.4rem; */
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  text-align: left;
  margin: 0 auto;
  align-items: center;
}

.landingImgContent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 120rem;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
}

.sobreImgContent {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 120rem;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-items: center;
}

.sobreImg {
  color: #212529;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;
  text-align: center !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  width: 80% !important;
  /*   border-radius: 42% 58% 32% 68% / 67% 17% 83% 33%; */
  border-radius: 20px;
  /*  filter: drop-shadow(2px 4px 6px lightgray) */
  filter: drop-shadow(0px 10px 10px lightgray);
}

.titleLand {
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  color: #3c3c3c;
}

.titleLand > h3 {
  font-size: 3.5rem;
}

.descLand {
  grid-column: 1;
  grid-row: 2;
  color: #3c3c3c;
  margin-top: 3rem !important;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 50px;
  color: var(--back-color);
  padding: 20px 20px;
  font-size: 16px;
  line-height: 16px;
  /*  border-radius: 20px; */
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  text-decoration: none !important;
  min-width: 144px;
  text-transform: none;
  white-space: normal;
  border: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.btn-inverse {
  background-color: var(--back-color);
  border: var(--primary-color) solid 1px;
  color: var(--primary-color);
  padding: 12px 18px;
  transition: border-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: border-color .3s ease-in-out, color .3s ease-in-out;
  -webkit-transition: border-color .3s ease-in-out, color .3s ease-in-out;
}

.btn-primary:hover {
  background-color: #bab4e4;
  border-color: #bab4e4;
}

.btn-primary:focus {
  color: var(--back-color);
  background-color: #bab4e4;
  border-color: #bab4e4;
  box-shadow: 0 0 0 0.25rem rgb(186 180 228 / 50%);
}

.text-primary {
  color: var(--primary-color) !important;
}

.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  color: var(--back-color);
  background-color: #bab4e4;
  border-color: #bab4e4;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(127 115 208);
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  gap: 1.5em;
  list-style: none;
  color: #414548;
}

.nav-link {
  transition-duration: 200ms;
}

.nav-link.active {
  color: var(--primary-color) !important;
}

a:hover {
  color: var(--primary-color);
}

.h1 {
  font-size: 64px;
}

#header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  /*  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 5%); */
  background-color: var(--back-color);
  transition: 300ms;
}

.headershadow {
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 5%);
  opacity: 0.96;
  height: 3rem !important;
}

.atendimentoCards {
  text-align: left;
  /* display: grid; */
  padding: 45px 45px;
  border-radius: 65px;
  position: relative;
  overflow: hidden;
  background-color: var(--atendimento-card-color);
}

.sobreCards {
  text-align: left;
  /* display: grid; */
  padding: 45px 45px;
  border-radius: 65px;
  position: relative;
  overflow: hidden;
}

.atendimentoCards > p {
  font-size: 16px;
}

.sobreCards > p {
  font-size: 16px;
}

.atendimentoContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.9fr 0.9fr;
  text-align: center;
  margin: 0 auto;
  gap: 3em;
}

#terapia {
  background-color: var(--secondary-color);
}

#terapia .titleSection {
  color: white;
}

section.home {
  margin-top: 5rem;
  margin-bottom: 2rem;
  min-height: calc(100vh - 7rem);
  display: grid;
  place-content: center;
}

section.pergunta {
  background: var(--primary-color);
}

section.sobre {
  margin-bottom: 2rem;
  min-height: calc(100vh - 7rem);
  display: grid;
  place-content: center;
}

section#blog {
  min-height: 80vh;
  display: grid;
  place-content: center;
  background-color: var(--primary-color);
  background-image: linear-gradient(180deg, var(--primary-color) 60%, var(--footer-color) 50%);
}

.aboutText {
  font-size: 16px;
}

.accordion-button:not(.collapsed) {
  color: #8175d1;
  background-color: #9f90e0;
}

.accordion-body {
  padding: 1rem 1.25rem;
  background: #eae3fa;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #6f65b6 !important;
  outline: 0;
  box-shadow: unset !important;
  /* box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%); */
}

.accordion-button:focus {
  z-index: 3;
  border-color: #ebe5f9;
  outline: 0;
  box-shadow: unset !important;
  /* box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%); */
}

section.terapia {
  margin-top: 5rem;
  margin-bottom: 2rem;
  min-height: calc(100vh - 7rem);
  display: grid;
  place-content: center;
}

.wave1Back {
  background: var(--secondary-color);
}

.headerSection {
  text-align: center;
  padding: 1rem 0;
}

.headerSectionTerapia {
  text-align: center;
  padding: 3.0rem 0;
}

.headerSectionTerapia > .titleSection {
  font-size: 1.5rem;
}

.titleSection {
  color: var(--primary-color);
  font-size: 2.2rem;
}

/**/

.btnsLand {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem !important;
  margin-top: 2rem;
}

.landImg {
  width: 400px;
}

.logoImg {
  color: transparent;
  /*  background: white; */
  /* border-radius: 100%; */
  transition: 300ms;
}

.logoImg.rolldown {
  color: transparent;
  background: white;
  border-radius: 100%;
  height: 32px;
  width: 42px;
  transition: 300ms;
}

#Atendimento {
  background: var(--atendimento-color) !important;
  min-height: calc(100vh - 5rem);
}

/* Mobile */
@media (max-width: 700px) {
  .landingContent {
    display: unset;
    width: 100%;
    text-align: center;
  }

  .sobreContent {
    display: unset;
    width: 100%;
    text-align: center;
  }

  .terapiaContent {
    display: unset;
    width: 100%;
    /*  text-align: center; */
  }

  .btnsLand {
    gap: 0.5rem !important;
    display: grid !important;
    justify-content: space-evenly !important;
    margin-top: 2rem;
  }

  .nav.navbar-nav {
    /* border: solid 2px;
    border-color: var(--primary-color)73; */
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    opacity: 0.98;
    background-color: var(--back-color);
  }

  .titleLand > h3 {
    font-size: 1.8rem;
    padding: 0 1em;
  }

  .descLand {
    margin-top: 0.2rem !important;
  }

  section.home {
    margin-top: 7rem;
    min-height: calc(100vh - 7rem);
    display: inherit;
    margin-bottom: unset;
    place-content: center;
  }

  h4 {
    font-size: calc(1.100rem + .3vw);
  }

  .landImg {
    width: 340px;
  }

  .navbar-toggler:focus {
    box-shadow: unset;
  }

  .atendimentoContent {
    display: unset;
    text-align: center;
    row-gap: 3em;
  }

  .atendimentoCards {
    margin: 1rem;
  }

  .sobreCards {
    margin: 0.4rem;
  }

  .titleSection {
    color: var(--primary-color);
    font-size: 1.9rem;
  }

  .terapiaList {
    display: unset;
    grid-template-columns: unset;
    grid-template-rows: unset;
    text-align: unset;
    margin: 0 auto;
    grid-gap: unset;
    gap: unset;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .terapiaContent {
    display: unset;
    width: 100%;
    text-align: center;
  }

  .sobreContent {
    display: unset;
    width: 100%;
    text-align: center;
  }

  .btnsLand {
    gap: 0.5rem !important;
    display: grid !important;
    justify-content: space-evenly !important;
    margin-top: 2rem;
  }

  .titleLand > h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: calc(1.100rem + .3vw);
  }

  section.home {
    margin-top: 7rem;
    min-height: calc(100vh - 7rem);
    display: inherit;
    margin-bottom: unset;
    place-content: center;
  }

  .landImg {
    width: 340px;
  }

  .navbar-toggler:focus {
    box-shadow: unset;
  }

  .atendimentoContent {
    display: unset;
    text-align: center;
    row-gap: 3em;
  }

  .atendimentoCards {
    margin: 1rem;
  }

  .sobreCards {
    margin: 0.4rem;
  }

  .titleSection {
    color: var(--primary-color);
    font-size: 1.9rem;
  }
}